<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COVID-19 Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style type="text/css">
        td {
            width: 30%;
            overflow: hidden;
        }

        table {
            width: 90%;
            table-layout: fixed;
        }
    </style>
</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-dar bg-dark text-white sticky-top">
        <h3 class="text-center">GLOBAL COVID-19 DATA</h3>
    </nav>
    <br>

    <div class="row">
        <div class="col-sm-3">
            <div id="globalCard" class="card text-dark border-info mb-3"
                 style="background-color: #e3f2fd; cursor: pointer;">
                <div class="card-header h6">GLOBAL</div>
                <div class="card-body text-center">
                    <h4 class="card-title">INFECTED</h4>
                    <h5 th:text="${totalGlobalCases}" class="card-text"></h5>
                    <h4 class="card-title">RECOVERED</h4>
                    <h5 th:text="${totalGlobalRecoveredCases}" class="card-text"></h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div id="canadaCard" class="card text-dark border-info mb-3"
                 style="background-color: #e3f2fd;cursor: pointer;">
                <div class="card-header h6">CANADA</div>
                <div class="card-body text-center">
                    <h4 class="card-title">INFECTED</h4>
                    <h5 th:text="${totalCanadaCases}" class="card-text"></h5>
                    <h4 class="card-title">RECOVERED</h4>
                    <h5 th:text="${totalCanadaRecoveredCases}" class="card-text"></h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="usaCard" class="card text-dark border-info mb-3"
                 style="background-color: #e3f2fd;cursor: pointer;">
                <div class="card-header h6">U.S.A</div>
                <div class="card-body text-center">
                    <h4 class="card-title">INFECTED</h4>
                    <h5 th:text="${totalUSCases}" class="card-text"></h5>
                    <h4 class="card-title">RECOVERED</h4>
                    <h5 th:text="${totalUSRecoveredCases}" class="card-text"></h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="indiaCard" class="card text-dark border-info mb-3"
                 style="background-color: #e3f2fd;cursor: pointer;">
                <div class="card-header h6">INDIA</div>
                <div class="card-body text-center">
                    <h4 class="card-title">INFECTED</h4>
                    <h5 th:text="${totalIndiaCases}" class="card-text"></h5>
                    <h4 class="card-title">RECOVERED</h4>
                    <h5 th:text="${totalIndiaRecoveredCases}" class="card-text"></h5>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <!--    globalTable div begins-->
    <div id="globalTable" class="container-fluid">
        <div class="text-dark px-1 mx-1">
            <h5 class="text-left">More details....</h5>
        </div>
        <div class="row">
            <div class="col-6">
                <table class="table table-sm table-hr table-bordered table-responsive-xl">
                    <tr>
                        <th class="">Country</th>
                        <th class="">Province</th>
                        <th class="">Total Cases</th>
                        <th class="">New Cases</th>
                    </tr>
                    <tr th:each="data : ${getAllData}">
                        <td th:text="${data.country}"></td>
                        <td th:text="${data.province}"></td>
                        <td th:text="${data.totalCases}"></td>
                        <td th:text="${data.newCases}"></td>
                    </tr>

                </table>
            </div>
            <div class="col-6">
                <table class="table table-sm table-hr table-bordered table-responsive-xl">
                    <tr>
                        <th class="">Country</th>
                        <th class="">Province</th>
                        <th class="">Total Recovered</th>
                        <th class="">Newly Recovered</th>
                    </tr>
                    <tr th:each="recodata : ${getAllRecoveredData}">
                        <td th:text="${recodata.country}"></td>
                        <td th:text="${recodata.province}"></td>
                        <td th:text="${recodata.getTotalRecovered()}"></td>
                        <td th:text="${recodata.newlyRecovered}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--    &lt;!&ndash;    canadaTable div begins&ndash;&gt;-->
    <!--    <div id="canadaTable" class="container-fluid">-->
    <!--        <div class="text-dark px-1 mx-1">-->
    <!--            <h5 class="text-left">More details....</h5>-->
    <!--        </div>-->
    <!--        <table class="table table-sm table-hr table-bordered table-responsive-xl">-->
    <!--            <tr>-->
    <!--                <th class="">Country</th>-->
    <!--                <th class="">Province</th>-->
    <!--                <th class="">Total Cases</th>-->
    <!--                <th class="">New Cases</th>-->
    <!--            </tr>-->
    <!--            <tr th:each="data : ${getAllData}">-->
    <!--                <td th:text="${data.country}"></td>-->
    <!--                <td th:text="${data.province}"></td>-->
    <!--                <td th:text="${data.totalCases}"></td>-->
    <!--                <td th:text="${data.newCases}"></td>-->
    <!--            </tr>-->

    <!--        </table>-->
    <!--    </div>-->

    <!--    &lt;!&ndash;    usaTable div begins&ndash;&gt;-->
    <!--    <div id="usaTable" class="container-fluid">-->
    <!--        <div class="text-dark px-1 mx-1">-->
    <!--            <h5 class="text-left">More details....</h5>-->
    <!--        </div>-->
    <!--        <table class="table table-sm table-hr table-bordered table-responsive-xl">-->
    <!--            <tr>-->
    <!--                <th class="">Country</th>-->
    <!--                <th class="">Province</th>-->
    <!--                <th class="">Total Cases</th>-->
    <!--                <th class="">New Cases</th>-->
    <!--            </tr>-->
    <!--            <tr th:each="data : ${getAllData}">-->
    <!--                <td th:text="${data.country}"></td>-->
    <!--                <td th:text="${data.province}"></td>-->
    <!--                <td th:text="${data.totalCases}"></td>-->
    <!--                <td th:text="${data.newCases}"></td>-->
    <!--            </tr>-->

    <!--        </table>-->
    <!--    </div>-->

    <!--    &lt;!&ndash;    indiaTable div begins&ndash;&gt;-->
    <!--    <div id="indiaTable" class="container-fluid">-->
    <!--        <div class="text-dark px-1 mx-1">-->
    <!--            <h5 class="text-left">More details....</h5>-->
    <!--        </div>-->
    <!--        <table class="table table-sm table-hr table-bordered table-responsive-xl">-->
    <!--            <tr>-->
    <!--                <th class="">Country</th>-->
    <!--                <th class="">Province</th>-->
    <!--                <th class="">Total Cases</th>-->
    <!--                <th class="">New Cases</th>-->
    <!--            </tr>-->
    <!--            <tr th:each="data : ${getAllData}">-->
    <!--                <td th:text="${data.country}"></td>-->
    <!--                <td th:text="${data.province}"></td>-->
    <!--                <td th:text="${data.totalCases}"></td>-->
    <!--                <td th:text="${data.newCases}"></td>-->
    <!--            </tr>-->

    <!--        </table>-->
    <!--    </div>-->
    <p>
        <a href="../home.html" th:href="@{/}">Return to home</a>
    </p>
    <br><br><br><br><br>
    <hr>
    <p class="text-center">by <a class="text-danger" target="_blank" href="https://github.com/kalven22">kalven22
        (GitHub)</a></p>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>