<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COVID-19 Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<div class="container">

    <nav class="navbar navbar-dar bg-dark text-white sticky-top">
        <h3 class="text-center">GLOBAL COVID-19 DATA</h3>
    </nav>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card text-dark border-info mb-3" style="max-width: 18rem;background-color: #e3f2fd;">
                <div class="card-header h6">GLOBAL</div>
                <div class="card-body text-center">
                    <h3 class="card-title">INFECTED</h3>
                    <h4 th:text="${totalGlobalCases}" class="card-text"></h4>
                    <h3 class="card-title">RECOVERED</h3>
                    <h4 th:text="${totalGlobalRecoveredCases}" class="card-text"></h4>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card text-dark border-info mb-3" style="max-width: 18rem;background-color: #e3f2fd;">
                <div class="card-header h6">CANADA</div>
                <div class="card-body text-center">
                    <h3 class="card-title">INFECTED</h3>
                    <h4 th:text="${totalCanadaCases}" class="card-text"></h4>
                    <h3 class="card-title">RECOVERED</h3>
                    <h4 th:text="${totalCanadaRecoveredCases}" class="card-text"></h4>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-dark border-info mb-3" style="max-width: 18rem; background-color: #e3f2fd;">
                <div class="card-header h6">U.S.A</div>
                <div class="card-body text-center">
                    <h3 class="card-title">INFECTED</h3>
                    <h4 th:text="${totalUSCases}" class="card-text"></h4>
                    <h3 class="card-title">RECOVERED</h3>
                    <h4 th:text="${totalUSRecoveredCases}" class="card-text"></h4>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-dark border-info mb-3" style="max-width: 18rem;background-color: #e3f2fd;">
                <div class="card-header h6">INDIA</div>
                <div class="card-body text-center">
                    <h4 class="card-title">INFECTED</h4>
                    <h4 th:text="${totalIndiaCases}" class="card-text"></h4>
                    <h3 class="card-title">RECOVERED</h3>
                    <h4 th:text="${totalIndiaRecoveredCases}" class="card-text"></h4>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <!--    Table div begins-->
    <div class="container">
        <div class="text-dark px-1 mx-1">
            <h5 class="text-left">More details....</h5>
        </div>
        <table class="table table-sm table-hr table-bordered table-responsive-sm">
            <tr>
                <th class="">Country</th>
                <th class="">Province</th>
                <th class="">Total Cases</th>
                <th class="">New Cases</th>
            </tr>
            <tr th:each="data : ${getAllData}">
                <td th:text="${data.country}"></td>
                <td th:text="${data.province}"></td>
                <td th:text="${data.totalCases}"></td>
                <td th:text="${data.newCases}"></td>
            </tr>

        </table>
    </div>
    <p>
        <a href="../home.html" th:href="@{/}">Return to home</a>
    </p>
    <br><br><br><br><br>
    <hr>
    <p class="text-center">by <a class="text-danger" target="_blank" href="https://github.com/kalven22">kalven22
        (GitHub)</a></p>
</div>
</body>

</html>